
<html>
    <style>
        /* Add padding to containers */
.container {
  padding: 16px;
}
.signin {
  background-color: #f1f1f1;
  text-align: center;
}

    </style>
<h2>Wel Come To Home Page !! You have been successfully Logged In.</h2>
 <div class="container signin">
    <p> <a href="~/Registration/Index">Create New account</a>.</p>
      
  </div>
  <div class="container signin">
    <p>Already have an account? <a href="~/Login/Index">Login</a>.</p>
      
  </div>
    </html>